#dinozList {
	float: left;
    position: relative;
    padding-left: 60px;
    padding-top: 35px;
    padding-bottom: 10px;
    width: 145px;

    ul {
    	list-style: none;
	    font-size: 0pt;
	    line-height: 0pt;
	    margin-bottom: 1px;
	    padding: 2px;
	    border: 1px solid #d69e68;

	    li {
	    	a {
	    		border: 1px solid #fbdca5;
			    padding: 2px;
			    display: block;
			    font-size: 10pt;
			    line-height: 11pt;
			    text-decoration: none;
			    -webkit-border-radius: 0px;
			    cursor: pointer;

			    em {
			    	font-variant: normal;
				    font-weight: normal;
				    color: #cf8a51;
				    font-size: 8pt;
				    line-height: 8pt;
				    display: block;
				    float: left;
				    position: relative;
				    width: 87px;
			    }

			    span.name {
			    	display: block;
				    float: left;
				    position: relative;
				    width: 87px;
				    white-space: nowrap;
    				overflow: hidden;
			    }

			    .icon {
			    	position: relative;
				    width: 40px;
				    height: 10px;
				    font-size: 0pt;
				    line-height: 0pt;
			    }
	    	}

	    	&.light {
	    		a {
	    			height : 25px;

	    			.icon {
	    				float : right;

	    				.tinyBar {
	    					margin-top : 6px;
	    				}
	    			}
	    		}

	    		em {
	    			width : 150px;
					font-size : 7.5pt;
	    		}
	    	}
	    }
    }

    a.button {
    	width: 135px;
    }

    span.money {
		display: block;
	    width: 137px;
	    height: 25px;
	    margin-bottom: 34px;
	    padding: 0px;
	    padding-top: 6px;
	    margin-left: -5px;
	    text-align: center;
	    font-size: 10pt;
	    color: #ffee92;
	    border: 0px;
	    background-color: transparent;
	    background-image: url("../assets/background/goldbox2.png");
	    background-repeat: no-repeat;
	    cursor: help;

	    img {
	    	vertical-align: -5%;
	    }
	}

    .iconMenu {
    	width: 143px;
    	height: 32px;

    	a {
    		display: block;
		    background-repeat: no-repeat;
		    border-radius: 0px;
		    -moz-border-radius: 0px;
		    -webkit-border-radius: 0px;

		    &.iconor {
		    	margin-right: 5px;
			    background-image: url("../assets/icons/act_shop.png");
			    width: 32px;
			    height: 32px;
			    float: left;

			    &:hover {
					background-image : url("../assets/icons/act_shop2.png");
			    }
		    }

		    &.iconboutik {
		    	margin-right : 5px;
				background-image : url("../assets/icons/act_boutique.png");
				width : 32px;
				height : 32px;
				float : left;

				&:hover {
					background-image : url("../assets/icons/act_boutique2.png");
			    }
		    }

		    &.iconclan {
		    	margin-right : 5px;
				background-image : url("../assets/icons/act_castle.png");
				width : 32px;
				height : 32px;
				float : left;

				&:hover {
					background-image : url("../assets/icons/act_castle2.png");
			    }
		    }

		    &.icondojo {
		    	background-image : url("../assets/icons/act_dojo.png");
				width : 32px;
				height : 32px;
				float : left;

				&:hover {
					background-image : url("../assets/icons/act_dojo2.png");
				}
		    }
    	}
    }
}