@import './_shop.scss';
@import './_itemShop.scss';
@import './_dinozList.scss';
@import './_general.scss';

#menu {
	position: absolute;
    z-index: 2;
    margin-left: 764px;
    margin-top: 90px;
    width: 95px;
    font-size: 8pt;
}

#langs {
	position: absolute;
    z-index: 2;
    margin-left: 764px;
    margin-top: 90px;
    width: 95px;
    font-size: 8pt;
}

.newsSection {

	.tid_module {
		color : white;
		font-size : 14px;

		li {
			list-style : square;
		}

		a {
			color : #ffee92;
		}

		.tid_safe_story {
			// background-image : url("/img/design/bloc_news_twinoid.jpg");
			background-repeat : repeat-y;
			margin-bottom : 10px;
			margin-right : 10px;
			border : 1px solid #ffee92;
			outline : 1px solid #92471F;
			padding : 10px;

			.tid_safe_content {
				.tid_h2 {
					font-size : 110%;
					color : #FFEE92;
					text-transform : uppercase;
				}

				.tid_h3 {
					color : #FFEE92;
				}
			}
		}
	}
}

.section {
	height : 45px;
	margin-left : -15px;
	margin-bottom : 20px;
	background-image : url("../assets/design/title_h1.png");
	background-position : left bottom;
	background-repeat : no-repeat;
}

.light {
	object {
		display: none;
	}

	embed {
		display: none;
	}
}

.dinoz {
	background-image: url("../assets/dinoz/dinoz_bg.jpg");
    background-repeat: no-repeat;
    min-height: 265px;
    margin-top: 5px;

    .left {
    	position: absolute;
	    margin-left: 205px;
	    margin-top: 69px;
	    background-image: url("../assets/icons/left.png");
	    width: 15px;
	    height: 21px;
	    border-radius: 0px;
	    -moz-border-radius: 0px;
	    -webkit-border-radius: 0px;
    }

    .title {
    	position: absolute;
	    text-align: center;
	    width: 232px;
	    margin-left: 240px;
	    margin-top: 67px;
	    font-size: 15pt;
	    font-weight: bold;
	    text-transform: uppercase;
	    letter-spacing: 1pt;
	    color: #fce3bc;
	    text-shadow: -1px -1px 0px #68361b, 1px 1px 0px #ddad8c;
    }

    .right {
    	position: absolute;
	    margin-left: 490px;
	    margin-top: 69px;
	    background-image: url("../assets/icons/right.png");
	    width: 15px;
	    height: 21px;
	    border-radius: 0px;
	    -moz-border-radius: 0px;
	    -webkit-border-radius: 0px;
    }

    .avatar {
    	position: absolute;
	    margin-left: 5px;
	    margin-top: 25px;
    }

    .level {
    	position: absolute;
	    margin-left: 8px;
	    margin-top: 205px;
	    font-weight: bold;
	    text-align: center;
	    font-size: 17pt;
	    color: #faf1c5;
	    text-shadow: -1px -2px 0px #581a10;

	    .over {
	    	cursor: help;
		    position: absolute;
		    width: 40px;
		    letter-spacing: -2pt;
	    }
    }

    .infos {
    	position: absolute;
	    margin-left: 195px;
	    margin-top: 212px;

	    ul.elements {
	    	position: absolute;
		    width: 230px;
		    margin-top: 2px;
	    }
    }

    .bars {
    	position: absolute;
	    margin-left: 78px;
	    margin-top: 206px;
	    width: 100px;
	    font-size: 8pt;
	    line-height: 11pt;
	    color: white;

	    .lifetext {
	    	font-size: 11px;
		    margin-top: -1px;
		    position: absolute;
		    font-weight: bold;
		    width: 98px;
		    text-align: center;
		    color: #fef4d4;
		    text-shadow: 1px 1px 0px #8f5203;
	    }

	    .xptext {
	    	position: absolute;
		    font-size: 11px;
		    margin-top: 14px;
		    font-weight: bold;
		    width: 98px;
		    text-align: center;
		    color: #fbd7ff;
		    text-shadow: 1px 1px 0px #812b56;
	    }
    }

    .bar {
    	cursor: help;
	    position: absolute;
	    width: 98px;
	    height: 11px;
	    font-size: 0pt;
	    line-height: 0pt;
    }

    .xp {
    	.bar {
    		margin-top: 15px;
    	}
    }

    .equip {
    	position: absolute;
	    padding-left: 12px;
	    margin-left: 420px;
	    margin-top: 119px;
	    font-size: 0pt;
	    width: 80px;
	    height: 80px;

	    ul {
	    	list-style: none;
		    margin-left: 1px;
		    text-align: left;
		    margin-top: 4px;
	    }

	    li {
	    	display: inline;
    		padding-right: 1px;
	    }
    }

    .fx {
    	font-size: 0pt;
	    position: absolute;
	    margin-left: 195px;
	    margin-top: 115px;
	    width: 212px;

	    img {
	    	border: 1px solid transparent;
		    border-radius: 5px;
		    -moz-border-radius: 5px;
		    -webkit-border-radius: 5px;

		    &:hover {
		    	border-color : white;
		    }
	    }
    }
}

.dinozPanels {
	background-image: url("../assets/design/dinoz_panels_bg.png");
    background-repeat: repeat-y;

    .actions {
    	float: left;
	    position: relative;
	    width: 171px;
	    padding-left: 20px;
	    color: white;
    }

    .custom {
    	float: left;
	    position: relative;
	    width: 303px;
	    padding-left: 16px;
	    padding-bottom: 15px;
	    color: white;

	    ul.tabs {
	    	background-image: none;
    		text-shadow: 1px 1px 0px #9a4029;

    		li.active {
    			margin-top: 1px;
    			text-shadow: 1px 1px 0px #9a4029;
    			a {
    				background-color: #d69e68;
				    line-height: 16pt;
				    color: white;
				    border-left-color: #ffe7aa;
				    border-top-color: #ffe7aa;
				    border-bottom: 1px solid #d69e68;
    			}
    		}
	    }
    }

	.inventory {
		table {
			width : 100%;
			margin-top : 10px;
			margin-bottom : 5px;
			tr {
				th {
					background-color : #ddb084;
					color : #874b2e;
					font-size : 10pt;
					font-variant : small-caps;
					padding-left : 5px;
					border-bottom : 1px solid #874b2e;
				}
				&.even td {
					background-color : #ddb084;
				}
			}
			td {
				vertical-align: top;
				&.name {
					color: white;
					padding-right: 4px;
					font-size: 10pt;
					line-height: 11pt;
					font-variant: small-caps;
					cursor: help;
					img {
						float: left;
						position: relative;
						margin-right: 5px;
						border: 1px solid #ae6733;
						vertical-align: bottom;
					}
				}
				&.qty {
					color: white;
					font-weight: bold;
					text-align: center;
					padding-left: 4px;
					padding-right: 4px;
				}
				&.full {
					color: yellow;
					cursor: help;
				}
				&.act img {
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		}
	}

    .footer {
    	height: 24px;
    	background-image: url("../assets/design/dinoz_footer.png");
    }
}

.button {
	&:first-letter {
		color: white;
	}

	&:hover {
		color: white;
		background-image: url("../assets/button/button_hover.png");
		background-color: transparent;
	}
}

.swf {
	display: block;
    font-size: 0pt;
    line-height: 0pt;
}